.book-preview {
    border: solid 1px black;
    margin-bottom: 20px;
    background-color: indianred;
}

.book-preview img {
    margin: 0 auto;
    height: 200px;
}

.book-preview h3 {
    margin-bottom: 5px;
}

.book-preview p {
    margin-bottom: 5px;
}